<tablenav></tablenav>
<h1>Connected to {{dbname}}</h1>
<h3>Load tables:</h3>

<div class="form-group">
	<input type="file" id="exampleInputFile">
</div>

<div class="table-btn-group">
	<button ng-repeat="tablename in tablenames" class="btn btn-primary btn-block" ng-click="requestTable(tablename)">
        {{tablename}}
     </button>
</div>

<br>
<br>
<br>

<h3>Join tables:</h3>
<br>

<!--Dropdown for initial table names-->
<form>
  <div class="row">
    <div class="form-group col-xs-5 col-lg-3">
      <label>Select table 1 to JOIN</label>
      <select class="form-control" ng-options="table for table in tablenames" ng-model="table1" ng-change="requestTableFields(table1, 1)">
          <option value="" selected>Select table name</option>
        </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-5 col-lg-3">
      <label>Joining key</label>
      <select multiple class="form-control" ng-options="fields for fields in table1fields" ng-model="table1key" ng-change="setJoinId(table1key, 1)">
      </select>
    </div>
  </div>

	<br>

  <div class="row">
    <div class="form-group col-xs-5 col-lg-3">
      <label>Select table 2 to JOIN</label>
      <select class="form-control" ng-options="table for table in tablenames" ng-model="table2" ng-change="requestTableFields(table2, 2)">
          <option value="" selected>Select table name</option>
        </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-5 col-lg-3">
      <label>Joining key</label>
      <select multiple class="form-control" ng-options="fields for fields in table2fields" ng-model="table2key" ng-change="setJoinId(table2key, 2)">
      </select>
    </div>
  </div>

	<button class="btn btn-warning" type="submit" ng-click="requestTableJoin(table1, table2, table1key, table2key)">Generate JOIN</button>
</form>



<!--dbController-->